<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">

    <form class="well form-horizontal" action="/new" method="post" id="contact_form" enctype="multipart/form-data">
      <fieldset>

        <!-- Form Name -->
        <legend>
          <center>
            <h2><b>Registration</b></h2>
          </center>
        </legend><br>

        <!-- Text input-->

        <div class="form-group">
          <label class="col-md-4 control-label">Patient Name</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>
              <input name="patientName" placeholder="Patient Name" class="form-control" type="text" required>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">nationality</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>
              <input name="nationality" placeholder="nationality" class="form-control" type="text" required>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">sampleType</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>
              <input name="sampleType" placeholder="sampleType" class="form-control" type="text" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">patientNumber</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>
              <input name="patientNumber" placeholder="patientNumber" class="form-control" type="text" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">accession</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>
              <input name="accession" placeholder="accession" class="form-control" type="text" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">dob</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>
              <input name="dob" placeholder="dob" class="form-control" type="date" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">idNumber</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>
              <input name="idNumber" placeholder="idNumber" class="form-control" type="text" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">payer</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>
              <input name="payer" placeholder="payer" class="form-control" type="text" required>
            </div>
          </div>
     </div>
        <div class="form-group">
          <label class="col-md-4 control-label">collectedDateTime</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>
              <input name="collectedDateTime" placeholder="collectedDateTime" class="form-control" type="date" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">resultDate</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>
              <input name="resultDate" placeholder="resultDate" class="form-control" type="date" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">requestDate</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>
              <input name="requestDate" placeholder="requestDate" class="form-control" type="date" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">verifyDate</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>
              <input name="verifyDate" placeholder="verifyDate" class="form-control" type="date" required>
            </div>
          </div>
        </div>
   <div class="form-group">
          <label class="col-md-4 control-label">image</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>
              <input name="image" placeholder="image" class="form-control" type="file" required accept="image/*">
            </div>
          </div>
        </div>


        <div class="form-group">
          <label class="col-md-4 control-label">Result</label>
          <div class="col-md-4 selectContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
              <select name="result" class="form-control selectpicker" required>
                <option value="">Select result</option>
                <option>POSITIVE</option>
                <option>NEGATIVE</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">Sex</label>
          <div class="col-md-4 selectContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
              <select name="sex" class="form-control selectpicker" required>
                <option value="">Select result</option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
          </div>
        </div>


 

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-4"><br>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="btn btn-warning">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
          </div>
        </div>

      </fieldset>
    </form>
  </div>
  </div><!-- /.container -->
</body>

</html>